extends layout 
block content
  //
    David Grant
    Sujani Wijesundera

    



  .flex
    if displayTravelPacks
      each post in displayTravelPacks

        // Main page image display. Pull from DB package info and images
        .dropdownpackages
          .travel-packages
            a.hre(href='/travel_packages/displaydetails?PackageId='+post.PackageId)
              img(src=post.Img + ".png" img id=post.PackageId alt='' width="100%" height='350')  
            .destination
              p #{post.PkgName} 
              p #{post.PkgDesc}
              -var formatBookingDatewithFormatStart= moment(post.PkgStartDate).format("LLLL");
              p Start date: #{formatBookingDatewithFormatStart} 



  // Copyright footer
  footer
    .stickyBottom
      p Travel experts &copy; Copyright Travel Experts 2021


