extends layout 
block content
  //
    David Grant
    Sujani Wijesundera
    2021/07/13
    CPRG-008
    Assignment 4 - Day 8-18
    



  .flex
    if displayTravelPacks
      each post in displayTravelPacks

        
        .dropdownpackages
          .travel-packages
            a.hre(href='/travel_packages/displaydetails?PackageId='+post.PackageId)
              img(src=post.Img + ".png" img id=post.PackageId alt='' width="100%" height='350')  
            .destination
              p #{post.PkgName} 
              p #{post.PkgDesc}
              p Start date: #{post.PkgStartDate} 



  // Copyright footer
  footer
    .stickyBottom
      p Travel experts &copy; Copyright 2021 David Grant and Sujani Wijesundera


