doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
  // CSS from bootstrap
  //link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')

  link(rel='stylesheet' href='/stylesheets/style.css')

if package
  
   .col-md-4 
    ul.list-group
     li.list-group-item.active  #{package.PkgName}
     li.list-group-item Package StartDate: #{package.PkgStartDate} 
     li.list-group-item Package EndDate: #{package.PkgEndDate} 
     li.list-group-item #{package.PkgDesc}
     li.list-group-item Package BasePrice: #{package.PkgBasePrice}

    if prodlist
     div 
     b
       Available Available Products With Package
     br
     br
     div
     each product in prodlist    
      .col-md-4 
        ul.list-group
            li.list-group-item.active  #{product.ProdName}

                 

     br
     a.btn.btn-primary.col-12(href='/travel_packages/displaydetails?PackageId='+package.PackageId) BUY PACKAGE

div(style='clear:both')

br

a(href='/travel_packages/') BACK TO PACKAGES
    
br
br        
 
a(href='/') HOME
    
