extends layout
block content
  
  // Sujani + David

  doctype html
  head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
  // CSS from bootstrap
  //link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  link(rel='stylesheet' href='/stylesheets/style.css')
  script(type='text/javascript' src='/javascripts/imgExpand.js')

  // Fit backend data into container
  .flex
    if package
      .div
        .col-md-4 
          ul.list-group
          li.list-group-item.active  #{package.PkgName}
          -var formatBookingDatewithFormatStart= moment(package.PkgStartDate).format("LLLL");
          -var formatBookingDatewithFormatEnd= moment(package.PkgEndDate).format("LLLL");
     
          li.list-group-item Package StartDate: #{formatBookingDatewithFormatStart} 
          li.list-group-item Package EndDate: #{formatBookingDatewithFormatEnd} 

          li.list-group-item #{package.PkgDesc}
          li.list-group-item Package BasePrice: #{package.PkgBasePrice}

          if prodlist
          
          div 
          b
            Available Available Products With Package  
          br
          br
          div


          each product in prodlist    
            .col-md-4 
              ul.list-group
                  li.list-group-item.active  #{product.ProdName}

        // Image display with javascript to enlarge multiple images
        .img-cont
          img(src=package.Img + ".png" alt='' id="mainImg" width="50%" height='auto')
        .small-img-cont 
          .small-col 
            img(src=package.Img + ".png" id="small1" onclick="imgExpand(this)")
          .small-col 
            img(src=package.Img + "1.png" id="small2" onclick="imgExpand(this)") 
          .small-col 
            img(src=package.Img + "2.png" id="small3" onclick="imgExpand(this)") 
          .small-col 
            img(src=package.Img + "3.png" id="small4" onclick="imgExpand(this)") 
             



        br
        // Package description from DB
        .descText
          p #{package.LongDesc}


                    
        
        br
        form(name='f1' action='/travel_packages/buyingdisplay' method='post')
         input(type='hidden' name='PackageId' value=package.PackageId) 
         input(type='hidden' name='PkgName' value=package.PkgName) 
         input(type='hidden' name='PkgEndDate' value=package.PkgEndDate)
         input(type='hidden' name='PkgStartDate' value=package.PkgStartDate)
         input(type='hidden' name='PkgDesc' value=package.PkgDesc)
         input(type='hidden' name='PkgBasePrice' value=package.PkgBasePrice)

         input(type='hidden' name='prodlist' value=prodlist)
     
         .buyButton
          input(type='submit' name='submit'  value='ADD TO CART')
      
          //a.btn.btn-primary.col-12(href='/travel_packages/buyingdisplay?PackageId='+package.PackageId) BUY PACKAGE


      

 
    
